.about-section {
  background-color: #fff9ef;
  padding: 1rem 1rem 4rem;
}

.about-image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  max-width: 90%;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: none !important;
  transform: none !important;
}

.about-image:hover {
  transform: none !important;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1) !important;
}

.about-text {
  color: #5c4c3d;
  font-family: 'Poppins', sans-serif;
}

.about-text h2 {
  color: #702d1f;
  font-weight: 700;
  margin-bottom: 1.5rem;
  position: relative;
}

.about-text h2::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: #a37c46;
  border-radius: 2px;
  margin-top: 8px;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.about-image-inicial {
  width: 75%;
  max-width: 600px;
  height: auto;
  border-radius: 25px;
  box-shadow: none;
  transition: none;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {

  .about-section .row {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about-text {
    margin-top: 1.5rem;
  }

  .about-image,
  .about-image-inicial {
    max-width: 95%;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .about-image {
    max-width: 100%;
    border-radius: 20px;
  }

  .about-text p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {

  .about-text h2 {
    font-size: 1.8rem;
  }

  .about-text p {
    font-size: 0.95rem;
    line-height: 1.6;
  }
}
